@page "/guid-generator"

<h3>GUID Generator</h3>

<TextEdit @bind-Text="OutputGuid" ReadOnly="true"/>

<br/>

<Check TValue="bool" @bind-Checked="UseUppercase">Use Uppercase</Check>
<Check TValue="bool" @bind-Checked="UseHyphens">Use Hyphens</Check>
<Check TValue="bool" @bind-Checked="AddBraces">Add Braces</Check>

<br/>

<Button Color="Color.Primary" Clicked="GenerateGuid">Generate GUID</Button>

@code
{

    private string OutputGuid { get; set; }
    private bool UseUppercase { get; set; }
    private bool UseHyphens { get; set; } = true;
    private bool AddBraces { get; set; } = true;

    protected override void OnInitialized()
    {
        GenerateGuid();
    }

    private void GenerateGuid()
    {
        var guid = Guid.NewGuid().ToString();
        if (UseUppercase)
            guid = guid.ToUpper();
        if (!UseHyphens)
            guid = guid.Replace("-", string.Empty);
        if (AddBraces)
            guid = "{" + guid + "}";
        OutputGuid = guid;
    }

}