@page "/password-generator"

<h3>Password Generator</h3>

<TextEdit @bind-Text="OutputPassword" ReadOnly="true"/>

<br/>

<label>Password Length</label>
<NumericEdit TValue="int" @bind-Value="PasswordLength" />

<br/>

<Check TValue="bool" @bind-Checked="UseUppercaseCharacters">Use Uppercase Characters</Check>
<Check TValue="bool" @bind-Checked="UseLowercaseCharacters">Use Lowercase Characters</Check>
<Check TValue="bool" @bind-Checked="UseNumericalCharacters">Use Numerical Characters</Check>
<Check TValue="bool" Label="Use Custom Characters" @bind-Checked="UseCustomCharacters">Use Custom Characters</Check>
<TextEdit @bind-Text="CustomCharacters"/>

<br/>

<Button Color="Color.Primary" Clicked="GeneratePassword">Generate Password</Button>

@code
{

    private string OutputPassword { get; set; }
    private string CustomCharacters { get; set; } = "!@#$%&";
    private int PasswordLength { get; set; } = 16;
    private bool UseUppercaseCharacters { get; set; } = true;
    private bool UseLowercaseCharacters { get; set; } = true;
    private bool UseNumericalCharacters { get; set; } = true;
    private bool UseCustomCharacters { get; set; } = false;

    protected override void OnInitialized()
    {
        GeneratePassword();
    }

    private void GeneratePassword()
    {
        var random = new Random();
        var characters = default(string);
        if (UseUppercaseCharacters)
            characters += "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        if (UseLowercaseCharacters)
            characters += "abcdefghijklmnopqrstuvwxyz";
        if (UseNumericalCharacters)
            characters += "0123456789";
        if (UseCustomCharacters)
            characters += CustomCharacters;
        OutputPassword = string.IsNullOrWhiteSpace(characters) ? string.Empty : new string(Enumerable.Repeat(characters, PasswordLength).Select(index => index[random.Next(index.Length)]).ToArray());
    }

}